# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='chromedriver')

browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [3]:
# 模擬使用者操作行為，選擇/點擊

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [46]:
html_source = browser.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')
d = {}
for tr in table.find_all('tr')[1:]:

    for i, td in enumerate(tr.find_all('td')):
        
        if len(tr.find_all('td')) == 5:
            if i == 0:
                obs = td.text
                d.setdefault(obs, {})
            if i == 2:
                date = td.text
            if i == 3:
                value = td.text
                d[obs][date] = value
        
        if len(tr.find_all('td')) == 3:
            if i == 0:
                date = td.text
            if i == 1:
                value = td.text
                d[obs][date] = value
print(d['SO2'])

{'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40', '2018/09': '2.10', '2018/10': '1.70', '2018/11': '1.90', '2018/12': '1.80'}

In [30]:
import pandas as pd
pd.DataFrame(d)

          SO2    CO     O3 PM10    NOx    NO    NO2  THC NMHC  CH4
2018/01  1.80  0.34  33.40   23  14.17  3.41  10.77  NaN  NaN  NaN
2018/02  1.90  0.44  32.50   41  19.43  4.48  14.95  NaN  NaN  NaN
2018/03  2.20  0.40     35   39  18.50  4.93  13.56  NaN  NaN  NaN
2018/04  2.30  0.38  38.40   48  15.24  2.60  12.64  NaN  NaN  NaN
2018/05  3.10  0.34  31.60   37  15.20  2.26  12.94  NaN  NaN  NaN
2018/06  2.70  0.29  29.50   26  13.79  2.41  11.38  NaN  NaN  NaN
2018/07  2.20  0.21  18.70   24  11.60  2.68   8.92  NaN  NaN  NaN
2018/08  2.40  0.30  26.40   26  14.75  2.68  12.08  NaN  NaN  NaN
2018/09  2.10  0.26  29.10   28  12.40  2.41     10  NaN  NaN  NaN
2018/10  1.70  0.29  45.90   33  12.45  2.13  10.33  NaN  NaN  NaN
2018/11  1.90  0.30  32.40   25  13.41  2.71  10.71  NaN  NaN  NaN
2018/12  1.80  0.35  30.70   21  14.56  3.42  11.15  NaN  NaN  NaN
          NaN   NaN    NaN  NaN    NaN   NaN    NaN